K8_CM=[Name of the configmap]
K8_NAMESPACE=[namespace of the resources to be created]
K8_CM_KEY=[entry key in the configmap for the certificate]
K8_CM_CA_KEY=[entry key in the configmap for the CA certificate]
K8_SECRET=[secret resource name]
K8_SECRET_KEY=[entry key in the secret file]